@font-face {
    src: url(RubikMarkerHatch.ttf);
    font-family: marker;
}

@font-face {
    src: url(oohbaby.ttf);
    font-family: oohbaby;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 20px;
    font-family: marker;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad {
    width: 2300px;
    height: 700px;
    display: grid;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

h1 {
    text-align: center;
    font-family: marker;
    font-size: 40px;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 900;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#colorPicker {
    border-radius: 10px;
    align-self: center;
    margin: 10px;
}

.resolution {
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: marker;
    padding: 0;
}

.btn:hover {
    border-color: yellow;
}

.btn:active {
    transform: translate(3px, 3px);
    margin-top: 5px;
  }
  
button.active {
    background-color: black;
    color: white;
  }

input[type='color']::-webkit-color-swatch{
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 2px 4px;
}

input[type='color']{
    -webkit-appearance: none ;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.1s ease-in-out;
}

input[type='text']{
    font-size: 10px;
    width: 60px;
}